.Smaller{
    font-size: x-small;
}

.Followed{
    background-color:#d3d1d14d ;
    color:black;
    border-radius: 0px;
    border: 1px solid #50505082;
 }

.Edit{
    bottom: 5px;
    left: 5px;
    position: absolute;
}

.Color{
    background-color: #ea9999;
}

.ColorFooter{
    border-top: 1px solid #ea9999;
    background-color: #ea99991c;
}

.Pass{
    color: green;
}
