.Smaller{
    font-size: x-small;
}

.Followed{
    background-color:#d3d1d14d ;
    color:black;
    border-radius: 0px;
    border: 1px solid #50505082;
 }

.Edit{
    bottom: 5px;
    left: 5px;
    position: absolute;
}

.Color{
    background-color: black;
    color: white;
}

.ColorFooter{
    border-top: 1px solid #00000038;
    background-color: #00000007;
}

.Pass{
    color: green;
}

.Small{
    font-size: small;
}