.CardTop{
    font-size: x-small;
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.Indent{
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-left: var(--bs-card-border-width) solid var(--bs-card-border-color);

}

.Smaller{
    font-size: x-small;
}

.Followed{
    background-color:#d3d1d14d ;
    color:black;
    border-radius: 0%;
    border: 1px solid #50505082;
 }