.Box{
    max-width: 22rem;
    background-color: white;
    margin: 0px;
    z-index: 1;
    position: relative;
    
}

.Background{
    height: 100%;
    background-color: black;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.BackgroundText{
    position: absolute;
    max-width: 100%;
    word-wrap: break-word;
    text-overflow: hidden;

}