.Color{
    background-color: white;
}

.ImageField{
    background-color: #d3d1d14d;
    margin: 10px 0px;
    padding: 10px 10px;
}

.ThickBorder{
    border: 5px solid #555555;
    border-radius: 3px;
    padding: 10px;
}

.BorderText{
    padding: 1px 3px;
    background: white;
    position: absolute;
    top: 37px;
}

.Owner{
    font-size: 1.3rem;
}

.Pending{
    color: orange;

}
   
.Pass{
       color: green;
}
   
.Failed{
       color: red;
}

.Img{
    object-fit: contain;
    object-position: center;
    max-height: 50vh;
}

.FixedCarousel{
    height: 50vh;
    max-height: 50vh;
}