.App{
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Gantari', sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    color: #555555;
    transition: color ease-in-out 0.1s;
    text-decoration: none;
}
  
a:hover {
    color: hwb(0 6% 94%);
}

.BrandFont{
    font-family: 'Gantari', sans-serif;
}

.CardTop{
    font-size: small;
    border-bottom: 1px solid #50505082;
}

.Card{
    border-radius: 0px;
    border: 1px solid #50505082;
}


.Button{
   background-color:white ;
   color: black;
   border-radius: 0%;
   border: 1px solid black;
   text-align: center;
   font-family: 'Gantari', sans-serif;
}

.Button.disabled{
    background-color:white ;
    color:#505050;
    border-radius: 0%;
    border: 1px solid #d3d1d1;
    text-align: center;
 }


.Button:hover{
    background-color:black ;
    color: white;
    border-radius: 0%;
    border: 1px solid black;
    text-align: center;
 }

 .Box{
    border-radius: 0%;
    border: 1px solid black;
 }

 