.App{
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gantari', sans-serif;
}

a {
    color: #555555;
    transition: color ease-in-out 0.1s;
    text-decoration: none;
}
  
a:hover {
    color: #2142b2;
}

.BrandFont{
    font-family: 'Gantari', sans-serif;
}

.Button{
   background-color:white ;
   color: black;
   border-radius: 0%;
   border: 1px solid black;
}

.Button.disabled{
    background-color:white ;
    color:#505050;
    border-radius: 0%;
    border: 0px;
 }

.Button:hover{
    background-color:black ;
    color: white;
    border-radius: 0%;
    border: 1px solid black;
 }